ion-content {
  background: linear-gradient(to bottom, #ffffff, #66cedb);
}
h2 {
  color: #364a5c;
  text-align: center;
https://raw.githubusercontent.com/marc-agustin/ionic-qkrsmu/master/BMI-Body-Mass-Index-for-Runners.jpg
}